 /* Styles for the body */
 body {
    display: grid; /* Use grid layout for main structure */
    grid-template-rows: auto 1fr auto; /* Define rows for header, content, and footer */
    min-height: 100vh; /* Set minimum viewport height for full-page layout */
    margin: 0; /* Remove default body margins */
    margin-bottom: 5px; 
    font-family: Arial, sans-serif; /* Set default font */
    background-color: #f0f0f0; /* Set background color for better contrast */
  }

  body li {
    margin-bottom: 10px; /* Adjust spacing between list items */
  }

  /* Styles for the header */
  header {
    display: grid; /* Use grid layout for main structure */
    grid-template-rows: auto 1fr auto; /* Define rows for header content */
    min-height: 5vh; /* Set minimum viewport height for full-page layout */
    margin: 0; /* Remove default body margins */
    background-color: #4d284eea; /* Header background color */
    color: #e9aeee; /* Header text color */
    font-style: italic; /* Header font style */
    padding: 4px; /* Header padding */
    justify-content: center; /* Align header content horizontally */
  }

  header h1 {
    font-size: 2em; /* Set heading size */
    margin: 0 5px; /* Remove default heading margins */
    margin-bottom: 5px;
  }

  header nav {
    /* Remove default display for navigation to allow inline arrangement */
    display: inline;
  }

  header nav li {
    display: inline-block; /* Make list items inline blocks */
    margin: 0 5px; /* Add horizontal spacing between items */
  }

  header nav li a {
    text-decoration: none; /* Remove default link underlines */
    color: #e9aeee; /* Set link text color */
  }

  .header_subitems {
    color: #e9aeee; /* Header subitems text color */
    padding: 0;
    margin: 0 10px;
  }

  /* Styles for the main content section */
 main {
    padding: 10px; /* Content area padding */
    margin: 0 5px;
 }

 main h1 {
    margin-top: 10px;
    margin-bottom: 20px; /* Reduce spacing between list items within a section*/
  }

 main h2 {
    margin: 1em 0; /* Add space before and after headings */
 }

 main ul {
    list-style: none; /* Remove default bullet points */
    padding: 5; 
    margin: 0; /* Remove default list margins */
    margin-bottom: 2em; /* Add space between sections */
 }

 main li {
    /* Reduce spacing between list items within a section */
    margin-bottom: 6px;
    
  }

  /* Styles for the footer */
  footer {
    background-color: #4d284eea; /* Footer background color */
    color: #e9aeee; /* Footer text color */
    font-style: italic; /* Footer font style */
    padding: 5px; /* Footer padding */
    display: flex; /* Enable flexbox layout for footer content */
    align-items: center; /* Align footer content vertically */
    justify-content: center; /* Align footer content horizontally */
  }

  footer p {
    white-space: nowrap;
    max-width: fit-content;
    text-align: center;
    margin: 0 5px;
  }