body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: lightgrey;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 10vh  auto;
    /* grid-template-rows: 10% 90%; */
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
        "header header"
        "aside main"
}

header {
    grid-area: header;
    align-content: top;
    text-align: center;
    padding: 1px;
    background-color: #4d284e;

}

.header__container {
    min-height: 30px;
    display: grid;
}

.header__title {
    grid-area: title;
    /* text-align: center; */
    color: #e9aeee;
}

.header__link {
    /* color: rgb(44, 11, 110); */
    text-decoration: none;
    padding-left: 30px;
    display: flex;
    justify-content: left;
    border-right: 5px
}

aside {
    grid-area: aside;
    font-style: italic;
    font-family: DauphinPlain;
    background-color: darkgray;
    padding-top: 25px;
    margin-left: 3px;
    margin-right: 3px;
}

.aside {
    border: 2px solid #ddd;
    padding-left: 20px;
    text-align: left;
    border-right: 10px
}

.aside #magic_link {
    border: 1px dashed #ddd;
    border-radius: 6px;
    text-decoration: none;
    color: azure;
}

.aside p a {
    padding-left: 40px;
    display: flex;
    justify-content: left;
    border-right: 5px;
    color: black;
}

#aside__navigation__list p a {
    padding-left: 0px;
    display: flex;
    justify-content: left;
}

main {
    grid-area: main;
    background-color: rgba(183, 184, 181, 0.794);
    padding-right: 5px
}

.main__content {
    padding-left: 30px;
    justify-content: center;
}

#main__content__header {
    color: rgb(74, 72, 71);
    font-style: oblique;
}

.main__content p {
    font-style: italic;
    padding-left: 40px;
}
.main__content h1 {
    font-style: italic;
}

.main__content__body {
    margin-right: 5em;
    /* margin:   1%; */
}

.main__content__body ol li {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}
.main__content__body ol li h4{
    margin-top: 0;
    margin-bottom: 0.5%;
}

.main__content__body ol li h3{
    margin-top: 4%;
    margin-bottom: 0.5%;
}
.main__content__body ol li a{
    margin-top: 1%;
    margin-bottom: 0.5%;
}

.main__content__body ol li ol li
{
    margin-top: 3%;
    margin-bottom: 2%;
    border: 5%;
}

/* .main__content__body ol li ol a {
    margin-top: 2%;
    margin-bottom: 0;
    border: 1%;
} */


.main__content__body__details ol li p {
    /* padding: 1%;
    border: 1%; */
    margin-top: 0;
    margin-bottom: 0.5%;
}
.main__content__body__details ol li h4 {
    padding: 1%;
    border: 1%;
    margin-top: 2%;
    margin-bottom: 0.5%;
}

.sitemap_content ul li {
    list-style-type: none;
    padding: 3px;
    color: rgb(0, 0, 0);
}

.sitemap_content ul li a {
    /* text-decoration: none; */
    color: rgb(0, 0, 0);
}

#nice_read_style {
    color: rgb(96, 91, 91);
    font-style: italic;
}

#important_high {
    color:red;
    font-weight: bold;
} 
.github-icon {
    width: 20px;
    margin-right: 1px;
  }